# Extra quartus files
.metadata/
.qsys_edit/
db/
incremental_db/
nios_system/
RemoteSystemsTempFiles/
simulation/
*.srf
*.qdf
*.sv.bak
*.rpt
*.summary
*.pin
*.smsg
*.jdi
*.bat
*.done
*.qws
*.pof
*.sld
*.sh
*.tcl~
*.ppf
PLLJ_PLLSPE_INFO.txt

# Tools files
tools/

# Software files
software/final-project/.vscode/
software/final-project/obj/
software/final-project/.settings/
software/final-project_bsp/.settings
software/final-project_bsp/drivers
software/final-project_bsp/obj

log.txt
